@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--VerydarkblueMain : hsl(217, 54%, 11%);
--VerydarkblueCard : hsl(216, 50%, 16%);
--VerydarkblueLine: hsl(215, 32%, 27%);
--White : hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}























.footer { 
    font-size: 11px; 
    text-align: center; }

.footer a { 
    color: hsl(228, 45%, 44%); }