@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--VerydarkblueMain : hsl(217, 54%, 11%);
--VerydarkblueCard : hsl(216, 50%, 16%);
--VerydarkblueLine: hsl(215, 32%, 27%);
--White : hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--VerydarkblueMain);
    font-size: 18px;
}

.main-container {
    border: 1px solid white;
    width: 330px;
    height: 546px;
    margin: 60px auto;
    border-radius: 16px;
    padding: 26px;
}

h1 {
    color: var(--White);
    font-size: 1.3em;
    margin-bottom: 18px;
}























.footer { 
    font-size: 11px; 
    text-align: center; }

.footer a { 
    color: hsl(228, 45%, 44%); }